<footer class="footer">
    <div class="wrapper">
        <div class="footer__header flex content-space-b">
            <a class="footer__link" href="/">
                {{#if @site.logo}}
                    {{> components/image
                        image_type='site'
                        picture_class='footer__logo'
                        image_url=@site.logo
                        size_xs=true
                        size_s=true
                        loading='eager'
                    }}
                {{else}}
                    <span class="site-name">{{@site.title}}</span>
                {{/if}}
            </a>

            {{^if @member}}
                {{> components/cta is_footer=true classes='cta--footer'}}
            {{/if}}
        </div>
        <div class="footer__main flex">
            {{#match @site.navigation.length '>' 0}}
                {{> navigation classes='navigation--is-footer' is_header=false from='1' to='5'}}
            {{/match}}
            {{#match @site.navigation.length '>' 5}}
                {{> navigation classes='navigation--is-footer' is_header=false from='6' to='10'}}
            {{/match}}
            {{#match @site.navigation.length ">" 10}}
                {{> navigation classes='navigation--is-footer' is_header=false from='11' to='15'}}
            {{/match}}
            {{#match @site.secondary_navigation.length '>' 0}}
                {{navigation type='secondary' classes='navigation--is-footer' is_header=false from='1' to='5'}}
            {{/match}}
            {{#match @site.secondary_navigation.length '>' 5}}
                {{navigation type='secondary' classes='navigation--is-footer' is_header=false from='6' to='10'}}
            {{/match}}
            {{#match @site.secondary_navigation.length '>' 10}}
                {{navigation type='secondary' classes='navigation--is-footer' is_header=false from='11' to='15'}}
            {{/match}}
        </div>
        <div class="footer__copy">{{@site.title}} &copy; 2024</div>
    </div>
</footer>