<ul class="navigation flex {{classes}}">
  {{#if title}}
    <h2 class="navigation__title">{{title}}</h2>
  {{/if}}

  {{#if is_header}}
    
    {{#foreach navigation to='3'}}
      <li class="{{link_class for=(url) class=(concat "nav-" slug)}}{{#match label.[0] "-"}} is-subitem{{/match}}" 
        data-label="{{label}}" data-length="{{label.length}}">
        <a title="{{label}}" href="{{url absolute="true"}}">
          <span>{{label}}</span>
        </a>
      </li>
    {{/foreach}}
    {{#match navigation.length ">" '3'}}
      <li id="header-nav-dropdown-target" class="navigation-dropdown">
        {{> icons/dots}}
        <ul class="flex flex-col">
          {{#foreach navigation from='4'}}
            <li class="{{link_class for=(url) class=(concat "nav-" slug)}}{{#match label.[0] "-"}} is-subitem{{/match}}" 
              data-label="{{label}}" data-length="{{label.length}}">
              <a title="{{label}}" href="{{url absolute="true"}}">
                <span>{{label}}</span>
              </a>
            </li>
          {{/foreach}}
        </ul>
      </li>
    {{/match}}

  {{else}}

    {{#foreach navigation}}
      <li class="{{link_class for=(url) class=(concat "nav-" slug)}}{{#match label.[0] "-"}} is-subitem{{/match}}" 
        data-label="{{label}}" data-length="{{label.length}}">
        <a title="{{label}}" href="{{url absolute="true"}}">
          <span>{{label}}</span>
        </a>
      </li>
    {{/foreach}}

  {{/if}}
</ul>