<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{asset "built/index.css"}}" />
    <script src="{{asset "built/index.js"}}" defer></script>

    <title>{{meta_title}}</title>

    {{> utilities/theme-settings}}

    {{> utilities/fonts}}

    {{ghost_head}}

</head>
<body class="{{body_class}}">

{{{block "styles"}}}

<main class="main main--error">

    <section class="page-error">
        <div class="wrapper flex flex-col items-center">
            <h1>{{statusCode}}</h1>
            <p>{{message}}</p>
            <a href="/" class="button">Homepage</a>
        </div>
    </section>

</main>

</div>

{{ghost_foot}}

</body>
</html>
