{{!< default}}

<div class="home">
    <div class="container wrapper">

        <div class="home-side flex flex-col">

            {{> components/loop 
                filter='tag:{{@custom.first_sidebar_list_slug}}' 
                limit='10' 
                is_articles=true 
                classes='articles-loop--sidebar' 
                article_classes='card--sidebar'
                slug=@custom.first_sidebar_list_slug
                title=@custom.first_sidebar_list_slug
            }}

            {{> components/loop 
                filter='tag:{{@custom.second_sidebar_list_slug}}' 
                limit='10' 
                is_articles=true 
                classes='articles-loop--sidebar' 
                article_classes='card--sidebar'
                slug=@custom.second_sidebar_list_slug
                title=@custom.first_sidebar_list_slug
            }}

        </div>

        <div class="home-main flex flex-col">

            {{> components/loop 
                is_hero=true
            }}

            {{> components/loop 
                filter='tag:{{@custom.first_homepage_list_slug}}' 
                limit='5' 
                is_articles=true 
                with_images=true 
                with_link_to_more=true
                with_first_featured_post=true
                classes='articles-loop--main-1' 
                article_classes='card--main-1'
                slug=@custom.first_homepage_list_slug
                title=@custom.first_homepage_list_slug
            }}

            {{#get "posts" include='tags' filter='tag:{{@custom.one_selected_homepage_article_slug}}' limit='1'}}
                {{#if posts}}
                    {{#foreach posts}}
                        {{> components/card
                            classes='card--horizontal-selected'
                        }}
                    {{/foreach}}
                {{/if}}
            {{/get}}

            {{> components/loop 
                filter='tag:{{@custom.second_homepage_list_slug}}' 
                limit='3' 
                is_articles=true 
                with_images=true 
                with_link_to_more=true
                with_custom_excerpt=true
                classes='articles-loop--main-2' 
                article_classes='card--main-2'
                slug=@custom.second_homepage_list_slug
                title=@custom.second_homepage_list_slug
            }}

            {{> components/cta classes='cta--home'}}

            {{> components/loop 
                filter='tag:{{@custom.second_homepage_list_slug}}' 
                limit='4' 
                is_articles=true 
                with_images=true 
                with_link_to_more=true
                classes='articles-loop--main-3' 
                article_classes='card--main-3'
                slug=@custom.second_homepage_list_slug
                title=@custom.second_homepage_list_slug
            }}

        </div>

    </div>
</div>