{{!< default}}

{{#post}}

<article class="article">
    <div class="wrapper">
        {{#if @page.show_title_and_feature_image}}
            {{> components/post/header}}
        {{/if}}

        <div id="post-content" class="post-content">
            {{#if access}}
            {{content}}
            {{else}}
            {{#if html}}
            <div class="members-cta-teaser">
                {{{html}}}
            </div>
            {{/if}}
            {{>members/cta}}
            {{/if}}
        </div>

        {{> components/loop 
            filter='id:-{{id}}+tag:{{primary_tag.slug}}' 
            limit='4' 
            is_articles=true 
            with_images=true 
            classes='articles-loop--main-1 articles-loop--related' 
            article_classes='card--main-1 card--related'
            title='Read more'
        }}
    </div>
</article>

{{/post}}
