{{!< ../default}}

{{!-- {{^if @member}}

    <script>window.location = '{{@site.url}}/sign-in';</script>

{{/if}} --}}

<section class="account">
    {{#if @site.paid_members_enabled}}
        {{#if @member.paid}}
            {{> components/page-header 
                title='Your account'
                subtitle="Nice, you’re a paying subscriber! You’ve an active account with access to all posts."
            }}
        {{else if @member}}
            {{> components/page-header 
                title='Your account'
                subtitle="Currently, you’re not a paying subscriber. You’ve an active account with access to posts for subscribers only."
            }}
        {{/if}}
    {{else}}
        {{> components/page-header 
                title='Your account'
                subtitle="You’ve an active account with access to posts for subscribers."
            }}
    {{/if}}

    {{#if @member.paid}}    
            {{#foreach @member.subscriptions}}
                <div class="subscription-info flex content-center {{#match @number ">" 1}}subscription-info--additional{{/match}}">
                    <div class="subscription-info__column">
                        <div>
                            <label>{{t 'Email address:'}}</label>
                            <span>{{customer.email}}</span>
                        </div>
                         <div>
                            <label>{{t 'Card:'}}</label>
                            <span>**** **** **** {{default_payment_card_last4}}</span>
                        </div>
                    </div>
                    <div class="subscription-info__column">
                        <div>
                            <label>{{t "Your plan:"}}</label>
                            <span>{{tier.name}} — {{price plan}} / {{plan.interval}}</span></span>
                        </div>
                        <div>
                            <label>{{t "Next bill date:"}}</label>
                            <span>{{date current_period_end format="DD MMM YYYY"}}</span></span>
                        </div>
                    </div>
                </div>
                <div class="subscription-info-buttons flex items-center content-center">
                    {{#if @last}}
                        <a class="button" href="javascript:" data-members-edit-billing>{{t 'Edit billing info'}}</a>
                    {{/if}}
                    {{cancel_link
                        class='button button--transparent subscription-info__cancel-link'
                        errorClass="cancel-error"
                        cancelLabel="Cancel!"
                        continueLabel="Continue!"
                    }}
                </div>
            {{/foreach}}
        {{else}}
            <div class="subscription-info flex content-center">
                <div class="subscription-info__column">
                    <div>
                        <label>{{t 'Email address:'}}</label>
                        <span>{{@member.email}}</span>
                    </div>
                </div>
                <div class="subscription-info__column">
                    <div>
                        <label>{{t "Your plan:"}}</label>
                        <span>{{t 'Free'}}</span>
                    </div>
                </div>
            </div>
        {{/if}}
        {{^if @member.paid}}
            {{> components/tiers}}
        {{/if}}
</section>