{{!< ../default}}

{{#if @member}}

    {{!-- Logged in: Redirect home --}}
    <script>window.location = '{{@site.url}}';</script>

{{else}}

    <section class="login-page">
        <div class="wrapper flex flex-col items-center">
            {{#page}}
                <h1>
                    {{#if title}}
                        {{title}}
                    {{else}}
                        {{t 'Sign in'}}
                    {{/if}}
                </h1>
            {{/page}}

            {{> components/form type='signin' is_sign_in=true is_account=true classes='form--login'}}
        </div>
    </section>

    {{#page}}
        {{#if feature_image}}
             <figure class="login-page__background-image">
                {{> components/image
                    image_type='page'
                    image_class='lazyload'
                    image_url=feature_image
                    size_m=true
                    size_l=true
                    size_xl=true
                    loading='lazy'
                }}
            </figure>
        {{/if}}
    {{/page}}

{{/if}}