{{#if is_tag}}
    <a href="{{url}}" class="card card--tag {{classes}}">
        <article>
            {{#if feature_image}}
                <figure class="card__image">
                    {{> components/image
                        image_type='tag'
                        image_class='lazyload'
                        image_url=feature_image
                        size_xs=true
                        size_s=true
                        size_m=true
                        size_l=true
                        size_xl=true
                        loading='lazy'
                    }}
                </figure>
            {{/if}}
            <h3 class="card__title">{{name}}</h3>
            {{#if description}}
                <p class="card__description">{{description}}</p>
            {{/if}}
            {{#get "posts" filter='tag:{{slug}}'}}
                <span class="card__amount">{{posts.length}} posts</span>
            {{/get}}
        </article>
    </a>
{{else if is_tier_free}}
    <article class="card tier tier--free flex flex-col">
        <header>
            <h2 class="tier__title">{{name}}</h2>
            <h3 class="tier__price"><span>{{t "$"}}</span>0</h3>
        </header>
        <div class="tier__content">
            {{#if description}}
                <p class="tier__description">{{{description}}}</p>
            {{/if}}
            {{#if benefits}}
                <div class="tier__benefits">
                    <ul class="flex flex-col">
                        {{#foreach benefits as |benefit|}}
                            <li class="flex items-start">{{> icons/check}} {{benefit}}</li>
                        {{/foreach}}
                    </ul>
                </div>
            {{/if}}
        </div>
        <a title="Sign up now" href="/sign-up/" class="button">{{t 'Sign up now'}}</a>
    </article>
{{else if is_tier_paid}}
    <article class="card tier tier--paid flex flex-col">
         <header>
            <h2 class="tier__title">{{name}}</h2>
            <h3 class="tier__price" data-monthly>{{#if monthly_price}}<span>{{price currency=currency}}</span>{{price monthly_price}}<span>{{t "/mo"}}</span>{{else}}<span>$</span>0<span>{{t "/mo"}}</span>{{/if}}</h3>
			<h3 class="tier__price" data-yearly>{{#if yearly_price}}<span>{{price currency=currency}}</span>{{price yearly_price}}<span>{{t "/y"}}</span>{{else}}<span>$</span>0<span>{{t "/y"}}</span>{{/if}}</h3>
        </header>
        <div class="tier__content">
            {{#if description}}
                <p class="tier__description">{{{description}}}</p>
            {{/if}}
            {{#if benefits}}
                <div class="tier__benefits">
                    <ul class="flex flex-col">
                        {{#foreach benefits as |benefit|}}
                            <li class="flex items-start">{{> icons/check}} {{benefit}}</li>
                        {{/foreach}}
                    </ul>
                </div>
            {{/if}}
        </div>
        <a class="button" title="Subscribe now" href="javascript:" data-portal="signup/{{id}}/monthly" data-monthly>{{t "Subscribe now"}}</a>
		<a class="button" title="Subscribe now" href="javascript:" data-portal="signup/{{id}}/yearly" data-yearly>{{t "Subscribe now"}}</a>
    </article>
{{else}}
    <article class="card {{classes}}">
        {{#if is_image}}
            {{#if feature_image}}
                <figure class="card__image">
                {{> components/image
                    image_type='post'
                    image_class='lazyload'
                    image_url=feature_image
                    size_xs=true
                    size_s=true
                    size_m=true
                    size_l=true
                    size_xl=true
                    loading='lazy'
                }}
            </figure>
            {{/if}}
        {{/if}}
        <div class="card__text">
            <div class="card__header flex content-space-b">
                {{> components/tags is_article=true classes='tags--article' limit='1'}}
                <time>{{reading_time minute="Only a minute" minutes="% min read"}}</time>
            </div>
            <h3><a href="{{url}}">{{title}}</a></h3>
            {{#if is_custom_excerpt}}
                {{#if custom_excerpt}}
                    <p class="card__custom_excerpt">{{custom_excerpt}}</p>
                {{/if}}
            {{/if}}
        </div>
    </article>
{{/if}}