<article class="cta flex flex-col items-center {{classes}}">
    {{^if is_footer}}
        <h2 class="cta__title">
            {{#if @custom.cta_title}}
                {{@custom.cta_title}}
            {{else}}
                {{t 'Explore Further into the Latest News'}}
            {{/if}}
        </h2>
    {{/if}}
    <p class="cta__subtitle">
        {{#if @custom.cta_subtitle}}
            {{@custom.cta_subtitle}}
        {{else}}
            {{t 'Subscribe to our newsletter and delve into compelling narratives that hold significance.'}}
        {{/if}}
    </p>
    {{> components/form type='subscribe' classes='form--cta'}}

    {{#if @custom.cta_background_image}}
        <style>
            .cta:not(.cta--footer) {
                background-image: url({{@custom.cta_background_image}});
            }
            .cta:not(.cta--footer) .cta__title,
            .cta:not(.cta--footer) .cta__subtitle {
                color: var(--color-white)
            }
            .cta:not(.cta--footer):after {
                position: absolute;
                content: '';
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 0;
                background-color: var(--color-black);
                filter: opacity(0.4);
            }
        </style>
    {{/if}}
</article>